<div ng-controller="JobsCtrl as ctrl" ng-init="ctrl.init()">
  <div class="config-control-panel config-panel-margin main-width ">
    <div class="pageTitle">
      {{
        model.data.length > 0
          ? "Matching Jobs"
          : loading
          ? ""
          : "No Jobs Found. :("
      }}
    </div>
    <div class="spinner" ng-hide="!ctrl.getLoading()">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>

    <div
      ng-repeat="item in model.data"
      class="job panel panel-default control-panel config-control-panel config-panel-margin review-panel review-item-container"
      ng-mouseover="hoverActive = true"
      ng-mouseleave="hoverActive = false"
    >
      <button
        class="md-button-toggle md-button-presentation md-ink-ripple review-item-button"
        type="button"
        ng-click="toggled = !toggled"
        aria-controls="docs-menu-{{ item.title }}"
        aria-expanded="form.item.toggled"
        aria-label="item.id"
      >
        <div flex layout="row" class="ng-binding ng-scope layout-row flex">
          <img class="job-image" src="{{ item.logo }}" width="50" height="50" />
          <div class="job-info">
            <h4 class="title">{{ ctrl.slice(item.title) }}</h4>
            <div class="company">{{ item.company }}</div>
          </div>

          <span flex class="flex"></span>

          <div class="job-match">
            <span class="job-match-value">{{ item.match }}</span>
            <div
              ng-model="item"
              class="job-match-progress"
              round-progress
              max="100"
              bgcolor="#eaeaea"
              radius="100"
              stroke="20"
              semi="false"
              rounded="true"
              clockwise="true"
              responsive="true"
              duration="800"
              animation="easeInOutQuart"
              animation-delay="0"
            ></div>
          </div>

          <span
            aria-hidden="true"
            class="md-toggle-icon"
            ng-class="{'toggled' : toggled}"
          >
            <md-icon md-svg-icon="md-toggle-arrow"></md-icon>
          </span>
        </div>
        <div class="skills row pull-left">
          <span ng-repeat="skill in item.skills" class="float-right">
            {{ skill }}
          </span>
        </div>
      </button>

      <div
        id="docs-menu-{{ item.title }}"
        class="menu-toggle-list"
        ng-class="{'toggled' : !toggled}"
      >
        <div class="config-overview-contents">
          <div class="panel-body">
            <div>
              <div class="description" ng-bind-html="item.description"></div>
              <div class="publish-info">
                By
                <a
                  aria-pressed="true"
                  role="button"
                  ng-click="ctrl.filterByPublisher(item)"
                >
                  {{ item.publisher.name }}</a
                >
                on {{ item.publisher.date | date: "d LLLL yyyy, HH:mm" }}
              </div>
              <div ng-hide="ctrl.hideVotingButtons()" id="voting-buttons">
                <button
                  ng-hide="ctrl.hideApplyButton(item)"
                  type="button"
                  class="pull-right btn btn-primary review-control-button btn-cta"
                  ng-click="ctrl.apply(item);"
                >
                  Apply
                </button>
                <button
                  type="button"
                  class="pull-right btn btn-default review-control-button btn-primary"
                  data-toggle="modal"
                  data-target="#myModal"
                  ng-click="ctrl.applyLastItem(item);"
                >
                  View Job
                </button>
                <span
                  class="pull-right span-applied"
                  ng-hide="!ctrl.hideApplyButton(item)"
                  >Applied</span
                >
                <!--<button ng-hide="ctrl.hideRetractButton(item)" type="button" class="pull-right btn btn-danger review-control-button" ng-click="ctrl.retract(item)">Retract Application</button>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div
    class="modal fade"
    id="myModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          >
            &times;
          </button>
          <h4 class="modal-title" id="myModalLabel">
            {{ lastItem.title }}
          </h4>
        </div>
        <div class="modal-body">
          <iframe
            ng-model="lastItemUrl"
            ng-src="{{ lastItemUrl }}"
            width="100%"
            height="960"
            frameborder="0"
            allowtransparency="true"
          ></iframe>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</div>
