<div ng-controller="ProfileCtrl as ctrl" ng-init="ctrl.init()">
	<div class="panel panel-body panel-default config-panel config-control-panel main-width md-whiteframe-6dp">

		<!-- Header Start -->
		<div class="controls controls-row">
			<h3 class="panel-title add-panel-title">Profile</h3>
		</div>

		<!-- Form Start -->
		<form name="profileForm" class="panel-body form-group margin-row">
			<md-content layout="column" class="md-padding">
				<md-input-container>
					<label>Name</label>
					<input required="" name="name" ng-model="user.name">
					<div ng-messages="profileForm.name.$error">
						<div ng-message="required">This is required</div>
					</div>
				</md-input-container>

				<md-input-container>
					<label>Email</label>
					<input name="email" type="email" ng-model="user.email">
					<div ng-messages="profileForm.email.$error">
						<div ng-message="required">This is required</div>
					</div>
				</md-input-container>

				<choose-file layout="row">
					<input id="fileInput" name="cv" type="file" class="ng-hide" onchange="angular.element(this).scope().ctrl.cvChanged(this)">
					<md-input-container flex class="md-block">
						<label><div class="hint">Upload your Curriculum</div></label>
						<input type="text" class="input-display" ng-model="fileName" readonly>
						<div ng-messages="profileForm.cv.$error">
								<div ng-message="required">Our service couldn't parse the CV. Upload a valid file</div>
							</div>
					</md-input-container>
					<div>
						<md-button id="uploadButton" class="md-fab md-mini">
							<md-icon md-svg-src="images/attachment.svg" class="material-icons">attach_file</md-icon>
						</md-button>
					</div>
				</choose-file>

				<md-input-container>
					<label for="role">Role</label>
					<input
						type="text"
						name="role"
						id="role"
						class="form-control"
						ng-model="objective.role"
						required
					/>
					<div ng-messages="profileForm.role.$error">
						<div ng-message="required">This is required</div>
					</div>
				</md-input-container>

				<md-input-container>
					<label for="city">Location</label>
					<input
						type="text"
						name="city"
						id="city"
						class="form-control"
						ng-model="objective.locationsSecondary"
						required
					/>
					<div ng-messages="profileForm.city.$error">
						<div ng-message="required">This is required</div>
					</div>
				</md-input-container>
			</md-content>
		</form>

		<!-- Buttons Start -->
		<div class="controls controls-row">
			<div class="pull-right" layout="row">
				<md-button class="md-accent md-primary" type="button" ng-click="ctrl.add()">SAVE</md-button>
			</div>
		</div>
	</div>
</div>
