<div ng-controller="LoginCtrl as ctrl" class="col-md-6 col-md-offset-3">
  <form name="form" ng-submit="ctrl.login()" role="form" class="panel-body form-group margin-row">
    <md-content layout="column" class="md-padding">
      <h3>Login</h3>

      <md-input-container>
          <label for="email">Email</label>
          <input if="email" name="email" type="email" ng-model="ctrl.email" required>
          <div ng-messages="form.email.$error">
            <div ng-message="required">This is required</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label for="password">Password</label>
          <input id="password" name="password" type="password" ng-model="ctrl.password" required>
          <div ng-messages="form.password.$error">
            <div ng-message="required">Password is required</div>
          </div>
        </md-input-container>

        <div class="form-actions">
          <button type="submit" class="btn btn-primary btn-cta pull-right">
            Login
          </button>
        </div>
    </md-content>
  </form>
</div>
