<style>
  body {
    background: url("../images/matchmakers.png");
    background-size: cover;
  }
</style>

<div class="main-landing">
  <ul class="timeline-list">
    <li>
      <div class="content">
        <span class="handwritten">Upload</span>
        <h5 class="handwritten-2">Your Resume</h5>
      </div>
    </li>
    <li>
      <div class="content">
        <span class="handwritten">Get Jobs</span>
        <h5 class="handwritten-2">That Fit You</h5>
      </div>
    </li>
    <li>
      <div class="content">
        <span class="handwritten">Apply</span>
        <h5 class="handwritten-2">For Your Dream Job</h5>
      </div>
    </li>
  </ul>
</div>
